@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    background-image: url(/assets/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.primary_btn{
    display: block;
    padding: 20px 32px;
    background-color: #AD343E;
    border-radius: 118px;
    width: fit-content;
    color: white;
    font-family: "Work Sans", serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}
.primary_btn:hover{
    background-color:#2C2F24;
    border: none;
}

.secondary_btn{
    display: block;
    border: 1.5px solid #2C2F24;
    border-radius: 118px;
    width: fit-content;
    color: #182226;
    font-family: "Work Sans", serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;   
}

.secondary_btn:hover{
    color: white;
    background-color: #2C2F24;
    border: none;
}